.section-change-pass {
  .change-pass-title {
    font-size: map-get($font-size, 'xl');
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
  }
  .change-pass-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    input {
      padding: 0.8rem 1.5rem;
      margin-bottom: 1rem;
      border: 1px solid #e5e5e5;
      border-radius: 3rem;
      outline: none;
      font-size: map-get($font-size, 'normal');
      width: 100%;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        border: 1px solid map-get($color, 'primary');
        transition: 0.3s;
      }
    }
    .error {
      color: red;
      font-size: map-get($font-size, 'sm');
      margin-top: -0.8rem;
      margin-left: 1.5rem;
      margin-bottom: 0.3rem;
    }
    .form-btn {
      display: flex;
      justify-content: center;
      button {
        margin-top: 1rem;
        width: 300px;
      }
    }
  }
}
// @media screen and (max-width: 576px) {
//   .section-change-pass {
//     .change-pass-form {
//       width: 100%;
//     }
//   }
// }
// @media screen and (max-width: 400px) {
//   .section-change-pass {
//     .change-pass-title {
//       font-size: map-get($font-size, 'lg');
//       margin: 2rem 0;
//     }
//     .change-pass-form {
//       width: 100%;
//     }
//   }
// }
