.section-editor {
  .editor-action {
    position: fixed;
    top: 35%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 99;
    .select-image-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: map-get($font-size, 'lg');
      border: 1px solid map-get($color, 'primary');
      background-color: map-get($color, 'white-snow');
      color: map-get($color, 'primary');
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        background-color: map-get($color, 'primary');
        color: map-get($color, 'white-snow');
      }
    }
    .input-select-image {
      display: none;
    }
  }
  .editor-title {
    font-size: 40px;
    text-align: center;
    margin: 2rem 0;
    color: map-get($color, 'black-midnight');
  }
  .form-handle-post {
    display: flex;
    flex-direction: column;
    .donut {
      width: 2rem;
      height: 2rem;
      margin: 2rem;
      border-radius: 50%;
      border: 0.3rem solid rgba(map-get($color, 'gray-bold'), 0.3);
      border-top-color: #b4b1b1;
      animation: 1.5s spin infinite linear;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 0 1rem;
      margin-bottom: 1rem;
      font-family: $font-family;
      &::placeholder {
        color: map-get($color, 'gray-smoke');
      }
    }
    .input-post-title {
      font-size: map-get($font-size, 'xxxl');
      font-weight: 300;
    }
    .input-post-description,
    .input-tag,
    .input-cover {
      font-size: map-get($font-size, 'lg');
    }
    button {
      width: 200px;
      margin: 0 auto;
    }
    .error {
      color: red;
      font-size: map-get($font-size, 'sm');
      margin-top: -1rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
    }
  }
  .publish-post {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: map-get($color, 'white-snow');
    z-index: 100;
    .close-publish {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      outline: none;
      background: transparent;
      font-size: map-get($font-size, 'xl');
      cursor: pointer;
      z-index: 1000000;
    }
    .publish-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 60%;
      display: flex;
      justify-content: center;
      .input-image {
        display: none;
      }
      .cover-image-title,
      .publish-description {
        color: map-get($color, 'black-midnight');
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .previewImage {
        img {
          width: 100%;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }
      .select-image {
        cursor: pointer;
        height: 280px;
        border: 1px solid #ddd;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: map-get($font-size, 'xxxl');
          color: map-get($color, 'gray-smoke');
        }
      }
      .select-tags-description {
        font-size: map-get($font-size, 'normal');
        color: map-get($color, 'black-midnight');
        margin-bottom: 0.5rem;
        margin-top: 2rem;
      }
      .error {
        color: red;
        font-size: map-get($font-size, 'sm');
        padding: 0.3rem 0;
      }
      button {
        width: 150px;
        height: 40px;
        margin-top: 2rem;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// @media screen and (max-width: 768px) {
//   .section-editor {
//     .editor-action {
//       top: 7.2rem;
//       left: 1.5rem;
//     }
//     .publish-post {
//       .publish-content {
//         top: 0;
//         left: 0;
//         transform: none;
//         height: 100%;
//         width: 100%;
//         padding: 1rem;
//         .select-status,
//         .select-tags {
//           margin-bottom: 2rem;
//         }
//         button {
//           margin: 0 auto;
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 576px) {
//   .section-editor {
//     .editor-title {
//       font-size: map-get($font-size, 'xxl');
//       margin: 2rem 0;
//     }
//     .form-handle-post {
//       input {
//         padding: 0;
//       }
//       .input-post-title {
//         font-size: map-get($font-size, 'xxl');
//       }
//       .select-status,
//       .cover-image {
//         margin-left: 0;
//       }
//     }
//     .list-tags {
//       flex-wrap: wrap;
//       .tag-item {
//         margin-bottom: 1rem;
//         padding: 0;
//       }
//       .error-tag {
//         color: red;
//         font-size: map-get($font-size, 'sm');
//         transition: 0.3s;
//       }
//     }
//   }
// }
