.section-slide {
  .slide-title {
    font-weight: 700;
    font-size: map-get($font-size, 'xxxl');
    text-align: center;
    margin: 3rem 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .slide-content {
    overflow: hidden;
    .list-post {
      display: flex;
      width: calc(300% + 4px);
      margin: 0 -1px;
      .post-item {
        @include flex-center;
        flex: 1;
        transition: ease 1000ms;
        padding: 0 1px;
        .post-image {
          max-width: 600px;
          max-height: 600px;
          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 8/5;
            border-radius: 1rem;
            object-fit: cover;
          }
        }
        .post-content {
          .post-topic {
            color: map-get($color, 'black-midnight');
            font-size: map-get($font-size, 'lg');
            font-weight: 700;
            margin-bottom: 3rem;
            .post-create-at {
              color: map-get($color, 'gray-bold');
              font-weight: 400;
            }
          }
          .post-title {
            @include text-overflow(1);
            font-size: map-get($font-size, 'xxl');
            color: map-get($color, 'black-midnight');
            font-weight: 700;
            margin-bottom: 0.5rem;
          }
          .post-text-content {
            color: map-get($color, 'gray-bold');
            font-weight: 400;
            font-size: map-get($font-size, 'lg');
            line-height: 150%;
            margin-bottom: 1rem;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          .post-author {
            display: flex;
            .author-avatar {
              width: 2.813rem;
              height: 2.813rem;
              border-radius: 50%;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
            .author-content {
              @include flex-center;
              margin-left: 1rem;
              .author-name {
                cursor: pointer;
                font-size: map-get($font-size, 'lg');
                color: map-get($color, 'black-midnight');
                font-weight: 700;
              }
              .author-role {
                color: map-get($color, 'gray-bold');
                font-weight: 400;
                font-size: map-get($font-size, 'sm');
              }
            }
          }
        }
      }
    }
    .slide-dots {
      display: flex;
      justify-content: center;
      margin: 2rem;
      .dot-item {
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background: map-get($color, 'gray-smoke');
        margin: 0 0.2rem;
        cursor: pointer;
        &.active {
          background: map-get($color, 'primary');
        }
      }
    }
  }
}
.section-new-post {
  margin-top: 5rem;
  width: 100%;
  overflow: hidden;
  .post-creator-info {
    @include align-center;
    flex: 1;
    overflow: hidden;
    .author-avatar {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      margin-right: 1rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .author-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-right: 0.5rem;
      overflow: hidden;
      .author-name {
        @include text-overflow(1);
        cursor: pointer;
        color: map-get($color, 'black');
        font-size: map-get($font-size, 'normal');
        font-weight: bold;
      }
    }
  }
  .post-content {
    height: 12rem;
    .post-description {
      @include text-overflow(3);
      line-height: 1.5rem;
    }
  }
  .post-status-info {
    display: flex;
    justify-content: flex-end;
    .post-interact {
      @include align-center;
      justify-content: flex-end;
      p {
        margin-left: 0.5rem;
      }
    }
  }
  .post-sub-info {
    font-size: map-get($font-size, 'sm');
    color: map-get($color, 'gray-smoke');
  }
  .load-more-wrap {
    width: 200px;
    height: 30px;
    margin: 2rem auto;
    text-align: center;
    .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      margin: 0 0.5rem;
      background-color: map-get($color, 'primary');
    }
    .load-more .line:nth-last-child(1) {
      animation: loadingC 0.6s 0.1s linear infinite;
    }
    .load-more .line:nth-last-child(2) {
      animation: loadingC 0.6s 0.2s linear infinite;
    }
    .load-more .line:nth-last-child(3) {
      animation: loadingC 0.6s 0.3s linear infinite;
    }
  }
}
// @media screen and (max-width: 768px) {
//   .section-slide {
//     .slide-title {
//       margin: 1rem 0;
//       font-size: map-get($font-size, 'lg');
//     }
//     .slide-content {
//       .list-post {
//         .post-item {
//           .post-content {
//             .post-topic {
//               margin-top: 1rem;
//               margin-bottom: 0.5rem;
//               font-size: map-get($font-size, 'normal');
//             }
//             .post-title {
//               font-size: map-get($font-size, 'xxl');
//             }
//           }
//         }
//       }
//     }
//   }
//   .section-contact {
//     .contact-input {
//       margin-bottom: 1rem;
//     }
//   }
// }
