.section-update-info {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto;
  .update-info-title {
    font-size: map-get($font-size, 'xl');
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .update-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    input {
      padding: 0.8rem 1.5rem;
      margin-bottom: 1rem;
      border: 1px solid #e5e5e5;
      border-radius: 3rem;
      outline: none;
      font-size: map-get($font-size, 'normal');
      width: 100%;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        border: 1px solid map-get($color, 'primary');
        transition: 0.3s;
      }
    }
    .form-btn {
      display: flex;
      justify-content: center;
      button {
        margin-top: 1rem;
        width: 300px;
      }
    }
    .error {
      color: red;
      font-size: map-get($font-size, 'sm');
      margin-top: -0.8rem;
      margin-left: 1.5rem;
      margin-bottom: 0.3rem;
      &.error-avatar {
        display: flex;
        justify-content: center;
        margin-top: -2rem;
        margin-bottom: 1.5rem;
      }
    }
    .select-gender {
      display: flex;
      padding-left: 1.5rem;
      label {
        font-size: map-get($font-size, 'normal');
      }
    }
    .avatar {
      @include flex-center;
      flex-direction: column;
      position: relative;
      margin: 0 auto;
      margin-bottom: 2rem;
      .avatar-image {
        width: 5rem;
        height: 5rem;
        position: relative;
        overflow: hidden;
        img {
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
        }
        .input-image {
          display: none;
        }
        .select-image {
          @include flex-center;
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ffffff;
          right: 0;
          bottom: 0;
          background: map-get($color, 'white-snow');
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          cursor: pointer;
        }
      }
    }
  }
}

// @media screen and (max-width: 576px) {
//   .section-update-info {
//     .update-form {
//       width: 100%;
//     }
//   }
// }
// @media screen and (max-width: 400px) {
//   .section-update-info {
//     .update-info-title {
//       font-size: map-get($font-size, 'lg');
//       margin: 2rem 0;
//     }
//     .update-form {
//       width: 100%;
//     }
//   }
// }
