@mixin create-grid-system($sizeScreen) {
  @for $i from 1 through 12 {
    @if (str-length($sizeScreen) > 0) {
      .col-#{$sizeScreen}-#{$i} {
        width: percentage($i / 12);
        padding: 0 1.5rem;
      }
    } @else {
      .col-#{$i} {
        width: percentage($i / 12);
        padding: 0 1.5rem;
      }
    }
  }
}
@mixin create-offset-system($sizeScreen) {
  @for $i from 0 through 12 {
    @if (str-length($sizeScreen) > 0) {
      .offset-#{$sizeScreen}-#{$i} {
        margin-left: percentage($i / 12);
        padding: 0 1.5rem;
      }
    } @else {
      .offset-#{$i} {
        margin-left: percentage($i / 12);
        padding: 0 1.5rem;
      }
    }
  }
}
@include create-grid-system('');
@include create-offset-system('');
.row {
  @include align-center;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
// @media screen and (max-width: 1400px) {
//   @include create-grid-system('xxl');
//   .container {
//     max-width: 1140px;
//   }
// }
// @media screen and (max-width: 1200px) {
//   @include create-grid-system('xl');
//   .container {
//     padding: 0 1.5rem;
//   }
// }
// @media screen and (max-width: 992px) {
//   @include create-grid-system('lg');
//   @include create-offset-system('lg');
// }
// @media screen and (max-width: 768px) {
//   @include create-grid-system('md');
// }
// @media screen and (max-width: 480px) {
//   @include create-grid-system('sm');
// }
