header {
  background: map-get($color, 'white-snow');
  border-bottom: 1px solid map-get($color, 'gray-light');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  .page-header {
    @include flex-center-between;
    height: 4.75rem;
    font-weight: bold;
    .logo-letter {
      font-size: 150%;
    }
    .menu-list,
    .menu-item,
    .header-action {
      @include flex-center-between;
    }
    .menu-mobile-list {
      flex-direction: column;
      justify-content: flex-start;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      background-color: map-get($color, 'white-snow');
      z-index: 100;
      width: 50vw;
      height: 100vh;
      &.active {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }
      .menu-mobile-item {
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        border-bottom: 1px solid #eee;
        .menu-mobile-link {
          @include align-center;
          color: map-get($color, 'black');
          justify-content: end;
          width: 100%;
          height: 100%;
          margin: 0;
          transition: 0.3s;
          &:hover {
            color: map-get($color, 'primary');
            transition: 0.3s;
          }
        }
      }
      .hide-menu {
        display: flex;
        align-items: center;
        .hide-menu-btn {
          cursor: pointer;
          font-size: map-get($font-size, 'xl');
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
    .menu-item {
      &:nth-child(n) {
        // display: none;
      }
      &.menu-mobile {
        display: block;
      }
      .menu-link {
        cursor: pointer;
        color: map-get($color, 'black-midnight');
        font-weight: 500;
        margin-left: 1rem;
        font-size: map-get($font-size, 'normal');
        white-space: nowrap;
        transition: 0.3s;
        &.menu-bar {
          font-size: map-get($font-size, 'xl');
        }
        &:hover {
          color: map-get($color, 'primary');
          transition: 0.3s;
        }
      }
    }
    .user-avatar {
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: 1rem;
      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
      .user-action {
        position: absolute;
        top: 147%;
        right: 0;
        min-width: 12rem;
        background: map-get($color, 'white-snow');
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .action-list {
          display: flex;
          flex-direction: column;
          .action-item {
            display: flex;
            justify-content: flex-end;
            .action-link {
              width: 100%;
              height: 100%;
              padding: 0.6rem 1.2rem;
              font-size: map-get($font-size, 'normal');
              font-weight: 400;
              &:hover {
                background: #eee;
                transition: 0.3s;
                color: map-get($color, 'primary');
              }
            }
          }
        }
      }
    }
  }
}
// @media only screen and (min-width: 768px) {
//   header {
//     .page-header {
//       .menu-item:nth-child(n) {
//         display: block;
//       }
//       .menu-item.menu-mobile {
//         display: none;
//       }
//     }
//   }
// }
// @media only screen and (min-width: 576px) {
//   header {
//     .page-header {
//       .menu-mobile-list {
//         width: 30vw;
//       }
//     }
//   }
// }
