$color: (
  primary: #f79918,
  red-heart: #e92146,
  gray-bold: rgba(117, 117, 117, 1),
  gray-smoke: #888,
  gray-light: #f8f9fa,
  gray-stone: #e5e5e5,
  black-midnight: rgba(41, 41, 41, 1),
  white-snow: #ffffff,
);
$font-size: (
  xs: 0.813rem,
  sm: 0.875rem,
  normal: 1rem,
  lg: 1.375rem,
  xl: 1.5rem,
  xxl: 2.5rem,
  xxxl: 3.5rem,
);
$font-family: 'Roboto', sans-serif;
