.btn {
  @include flex-center;
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  border-radius: 99rem;
  &.btn-primary {
    color: map-get($color, 'white-snow');
    background: map-get($color, 'primary');
    border: 1px solid map-get($color, 'primary');
    &:hover {
      color: map-get($color, 'primary');
      background: map-get($color, 'white-snow');
      transition: 0.3s;
    }
  }
  &.btn-outline {
    background: map-get($color, 'white-snow');
    border: 1px solid map-get($color, 'primary');
    color: map-get($color, 'primary');
    &:hover {
      background: map-get($color, 'primary');
      color: map-get($color, 'white-snow');
      transition: 0.3s;
    }
  }
}
