.skeleton {
  background-color: #ddd;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  &.text-long {
    width: 100%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xs');
  }
  &.text-medium {
    width: 75%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xs');
  }
  &.text-short {
    width: 50%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xs');
  }
  &.text-extra-short {
    width: 25%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xs');
  }
  &.title {
    width: 50%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xl');
  }
  &.title-long {
    width: 100%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'xl');
  }
  &.sub-title {
    width: 50%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'sm');
  }
  &.sub-title-short {
    width: 25%;
    margin-bottom: 0.625rem;
    height: map-get($font-size, 'sm');
  }
  &.avatar {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
  &.avatar-lg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  &.image {
    width: 100%;
    margin-bottom: 0.625rem;
    padding-bottom: 56.25%;
  }
  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #d9d9d9 0%,
      rgba(0, 0, 0, 0.05) 20%,
      #d9d9d9 40%,
      #d9d9d9 100%
    );
    background-repeat: no-repeat;
    background-size: 450px 400px;
    animation: shimmer 1s linear infinite;
  }
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
